$responsive: true;
@function px-to-em($px:0) {
  @if $responsive {
    @return ($px / 16) * 1rem;
  }
  @else {
    @return $px * 1px;
  }
}

$mq-xs:0 !default;
$mq-s:px-to-em(480) !default;
$mq-m:px-to-em(640) !default;
$mq-l:px-to-em(960) !default;
$mq-xl:px-to-em(1200) !default;